designs/server/services/ids.json
[
    {
        "id": "sd_XpjCTP8tJG5mDUiG",
        "type": "tab",
        "createdDate": "2019-12-04T10:42:13.097Z",
        "label": "ids",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "ids",
        "relativeParentPath": ""
    },
    {
        "id": "sd_3NLtRwlchnG7SupW",
        "type": "HttpIn",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login API",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 92,
        "y": 286.953125,
        "wires": [
            [
                "sd_OHgOBnPuPlpFyyhS"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_3NLtRwlchnG7SupW"
    },
    {
        "id": "sd_Xxx5mopcKwuUx1U8",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Create session details",
        "script": "bh.local.reqParams = {\n    state : crypto.randomBytes(16).toString('hex'),\n    nonce : crypto.randomBytes(16).toString('hex'),\n    isMobile : bh.input.query.isMobile,\n    redirectTo : bh.input.query.redirectTo\n};",
        "functionName": "sd_Xxx5mopcKwuUx1U8",
        "category": "Function",
        "x": 618,
        "y": 168.21875,
        "wires": [
            [
                "sd_1f0KTGTtX2Ng0uzW"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_1f0KTGTtX2Ng0uzW",
        "type": "Session",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.reqParams",
        "functionName": "sd_1f0KTGTtX2Ng0uzW",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "reqParams"
            }
        },
        "x": 763,
        "y": 410,
        "wires": [
            [
                "sd_EiyVdkrysYyxcXsW"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_EGBDk92eGCvR5Lgb",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate IDS login redirect URL",
        "script": "const authorizationRequest = Object.assign({\n    redirect_uri: url.resolve(bh.web.req.href, '/api/login/cb'),\n    scope: 'openid profile email address phone user',\n    state: bh.local.reqParams.state,\n    nonce: bh.local.reqParams.nonce,\n    response_type: bh.input.client.response_types[0],\n}, bh.input.authParams);\n\nbh.local.redirectHeaders = {\n    location: bh.input.client.authorizationUrl(authorizationRequest)\n};\n",
        "functionName": "sd_EGBDk92eGCvR5Lgb",
        "category": "Function",
        "x": 1194,
        "y": 160,
        "wires": [
            [
                "sd_X3Yh00wzzUWhZ8qw"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_EiyVdkrysYyxcXsW",
        "type": "CallService",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_1CQLmZc2CuznRC9C",
            "serviceName": "idsutil",
            "id": "sd_1CQLmZc2CuznRC9C",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_uyHfcXfyNL5QVzEX",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_EiyVdkrysYyxcXsW",
        "category": "General",
        "x": 903.8125,
        "y": 173.984375,
        "wires": [
            [
                "sd_qaWgSHpt1VYXg4rg"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_X3Yh00wzzUWhZ8qw",
        "type": "HttpOut",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect to IDS",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "obj",
        "responseMapping": {
            "status": 302,
            "obj": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_X3Yh00wzzUWhZ8qw",
        "category": "HTTP",
        "x": 1343,
        "y": 408,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_0KJJszoid64gwCUJ",
        "type": "Switch",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if client is registered",
        "property": "idsConfigured",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.idsConfigured",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_0KJJszoid64gwCUJ",
        "category": "Function",
        "x": 388,
        "y": 286,
        "wires": [
            [
                "sd_Xxx5mopcKwuUx1U8"
            ],
            [
                "sd_G59JssJFyKW5mQJk"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_OHgOBnPuPlpFyyhS",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Assert IDS config",
        "script": "bh.local.idsConfigured = false;\nif (settings.default.hasOwnProperty('ids') && settings.default['ids'].hasOwnProperty('client_id') &&\n    settings.default['ids'].hasOwnProperty('client_secret')) {\n    bh.local.idsConfigured = true;\n}",
        "functionName": "sd_OHgOBnPuPlpFyyhS",
        "category": "Function",
        "x": 234,
        "y": 287,
        "wires": [
            [
                "sd_0KJJszoid64gwCUJ"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_gyAd0j4sIMKjT78g",
        "type": "HttpOut",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send client not registered response",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "bh.local.res.message",
            "ssd_typedInputField": true
        },
        "httpcode": "404",
        "responseType": "obj",
        "responseMapping": {
            "status": 404,
            "obj": "bh.local.res.message",
            "send": "bh.local.res.message"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_gyAd0j4sIMKjT78g",
        "category": "HTTP",
        "x": 1341,
        "y": 286,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_G59JssJFyKW5mQJk",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Client not registered object",
        "script": "bh.local.res = {\n    message: 'IDS client not registered. Register on the Neutrinos Stuido and try again'\n}",
        "functionName": "sd_G59JssJFyKW5mQJk",
        "category": "Function",
        "x": 617,
        "y": 291,
        "wires": [
            [
                "sd_gyAd0j4sIMKjT78g"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jHi1VZMeStEKMf0R",
        "type": "MiddlewareStart",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "start",
        "name": "hrefstart",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 517,
        "y": 691.796875,
        "wires": [
            [
                "sd_P269v2BskOFirPbP"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_jHi1VZMeStEKMf0R"
    },
    {
        "id": "sd_QW9PErwvTXxXJ0K7",
        "type": "MiddlewareEnd",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Href end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_QW9PErwvTXxXJ0K7",
        "category": "HTTP",
        "x": 819.890625,
        "y": 692.796875,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_P269v2BskOFirPbP",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate href",
        "script": "const protocol = bh.input.headers['x-forwarded-proto'] || bh.web.req.protocol;\nconst href = protocol + \"://\" + bh.web.req.get('Host') + bh.web.req.originalUrl;\nbh.web.req.href = href;",
        "functionName": "sd_P269v2BskOFirPbP",
        "category": "Function",
        "x": 665,
        "y": 692.78125,
        "wires": [
            [
                "sd_QW9PErwvTXxXJ0K7"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_qaWgSHpt1VYXg4rg",
        "type": "CallService",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Scope and consent values",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_1CQLmZc2CuznRC9C",
            "serviceName": "idsutil",
            "id": "sd_1CQLmZc2CuznRC9C",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_WhPUUov76xHGAAlS",
            "flowName": "Get Authorization Params"
        },
        "inputVariables": [
            {
                "key": "authParams",
                "map": false,
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "authParams",
                "valueType": "bh.input",
                "value": "authParams",
                "mapVarName": "authParams",
                "localVar": "bh.input.authParams"
            }
        ],
        "callService": "./idsutil",
        "startName": "getAuthorizationParams",
        "inputParams": [
            ""
        ],
        "accept_bh": false,
        "functionName": "sd_qaWgSHpt1VYXg4rg",
        "category": "General",
        "x": 1051,
        "y": 415.78125,
        "wires": [
            [
                "sd_EGBDk92eGCvR5Lgb"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3W4c0IYfyxVc4YoV",
        "type": "HttpIn",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login Callback API",
        "path": "/login/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 88.890625,
        "y": 1038.796875,
        "wires": [
            [
                "sd_4V7YKgYkJ6j0zsQ1"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_3W4c0IYfyxVc4YoV"
    },
    {
        "id": "sd_U9j0Fx2TS6HKMjxx",
        "type": "CallService",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_1CQLmZc2CuznRC9C",
            "serviceName": "idsutil",
            "id": "sd_1CQLmZc2CuznRC9C",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_uyHfcXfyNL5QVzEX",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_U9j0Fx2TS6HKMjxx",
        "category": "General",
        "x": 453,
        "y": 1036.8125,
        "wires": [
            [
                "sd_WOdhkrTZJ0vO0n6B"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_WOdhkrTZJ0vO0n6B",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get userinfo and tokens ",
        "script": "const params = bh.input.client.callbackParams(bh.web.req);\nlet tokenset = await bh.input.client.callback(url.resolve(bh.web.req.href, 'cb'), params, {\n    'nonce': bh.input.sessionParams.data.nonce,\n    'state': bh.input.sessionParams.data.state\n});\n\nbh.local.redirectTo = bh.input.sessionParams.data.redirectTo\n\nbh.local.userDetails = {\n    tokenset: Object.assign({}, tokenset),\n    userInfo: await bh.input.client.userinfo(tokenset['access_token'])\n}\nbh.local.userDetails['tokenset']['claims'] = Object.assign({}, tokenset.claims());",
        "functionName": "sd_WOdhkrTZJ0vO0n6B",
        "category": "Function",
        "x": 616,
        "y": 1036.78125,
        "wires": [
            [
                "sd_Z7PeMMD1j6SVhxjZ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4V7YKgYkJ6j0zsQ1",
        "type": "Session",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.input.sessionParams",
        "dataMapping": "",
        "functionName": "sd_4V7YKgYkJ6j0zsQ1",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": "sessionParams"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 262,
        "y": 1038.796875,
        "wires": [
            [
                "sd_U9j0Fx2TS6HKMjxx"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Pzln6seUkdKtNA23",
        "type": "Switch",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send response based on device type",
        "property": "sessionParams.data.isMobile",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.sessionParams.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Pzln6seUkdKtNA23",
        "category": "Function",
        "x": 1001,
        "y": 1035.78125,
        "wires": [
            [
                "sd_1tryeXWULTtJKkKR"
            ],
            [
                "sd_LDHLPwCrEKsViuo5"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_1tryeXWULTtJKkKR",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Mobile html response",
        "script": "bh.local.htmlResponse = `\n <html>\n   <script>\n      let _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_1tryeXWULTtJKkKR",
        "category": "Function",
        "x": 1229.390643119812,
        "y": 891.2812614440918,
        "wires": [
            [
                "sd_Lefj44wWOg4lLerk"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_LDHLPwCrEKsViuo5",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Add location in headers obj",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.redirectTo\n}",
        "functionName": "sd_LDHLPwCrEKsViuo5",
        "category": "Function",
        "x": 1218.890640258789,
        "y": 1152.5312690734863,
        "wires": [
            [
                "sd_sbRLC6fySAr1WkiC"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Lefj44wWOg4lLerk",
        "type": "HttpOut",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Html response to close in app browser",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "htmlResponse",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "txt",
        "responseMapping": {
            "status": 200,
            "txt": "bh.local.htmlResponse",
            "send": "bh.local.htmlResponse"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_Lefj44wWOg4lLerk",
        "category": "HTTP",
        "x": 1488.500020980835,
        "y": 1141.781265258789,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_sbRLC6fySAr1WkiC",
        "type": "HttpOut",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'Redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'Redirecting'",
            "send": "'Redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_sbRLC6fySAr1WkiC",
        "category": "HTTP",
        "x": 1483.000020980835,
        "y": 903.2812633514404,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Z7PeMMD1j6SVhxjZ",
        "type": "Session",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.userDetails",
        "functionName": "sd_Z7PeMMD1j6SVhxjZ",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "userDetails"
            }
        },
        "x": 792,
        "y": 1036.78125,
        "wires": [
            [
                "sd_Pzln6seUkdKtNA23"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zsZq6BVu1Cf1FX6q",
        "type": "HttpIn",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get userinfo",
        "path": "/user/info",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "IDSAuthroizedAPIs",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/user/info": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 455.8125057220459,
        "y": 2060.734405517578,
        "wires": [
            [
                "sd_ehHC9MlYJFmD9CE7"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_zsZq6BVu1Cf1FX6q"
    },
    {
        "id": "sd_ehHC9MlYJFmD9CE7",
        "type": "Session",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "",
        "functionName": "sd_ehHC9MlYJFmD9CE7",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 653.0000057220459,
        "y": 2060.781280517578,
        "wires": [
            [
                "sd_LOdAFRQh8XVqukuo"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_LOdAFRQh8XVqukuo",
        "type": "HttpOut",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "session.data.userInfo",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.session.data.userInfo",
            "send": "bh.local.session.data.userInfo"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_LOdAFRQh8XVqukuo",
        "category": "HTTP",
        "x": 819.0000057220459,
        "y": 2060.781280517578,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_0JM8rhW1hlRf8DLr",
        "type": "Catch",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_qaWgSHpt1VYXg4rg",
            "sd_3W4c0IYfyxVc4YoV",
            "sd_U9j0Fx2TS6HKMjxx",
            "sd_WOdhkrTZJ0vO0n6B",
            "sd_4V7YKgYkJ6j0zsQ1",
            "sd_Pzln6seUkdKtNA23",
            "sd_1tryeXWULTtJKkKR",
            "sd_LDHLPwCrEKsViuo5",
            "sd_Lefj44wWOg4lLerk",
            "sd_sbRLC6fySAr1WkiC"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_0JM8rhW1hlRf8DLr",
        "category": "General",
        "x": 98.89062976837158,
        "y": 1233.0000343322754,
        "wires": [
            [
                "sd_vWNbMypswDDuJqHm"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_vWNbMypswDDuJqHm",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect back to login",
        "script": "bh.web.res.redirect('/api/login')",
        "functionName": "sd_vWNbMypswDDuJqHm",
        "category": "Function",
        "x": 262.50000381469727,
        "y": 1231.0312690734863,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Zn843YymBxDnn8cj",
        "type": "HttpIn",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout API",
        "path": "/logout",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 79.890625,
        "y": 1679.796875,
        "wires": [
            [
                "sd_9RWiHJeWewSdztFw"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_Zn843YymBxDnn8cj"
    },
    {
        "id": "sd_9RWiHJeWewSdztFw",
        "type": "Session",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_9RWiHJeWewSdztFw",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 249,
        "y": 1679.78125,
        "wires": [
            [
                "sd_9Zt15ixa6nUkPZmq"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9Zt15ixa6nUkPZmq",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.sessionExists = false;\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset) {\n    bh.local.sessionData['data']['redirectTo'] = bh.input.query['redirectTo'];\n    bh.local.sessionData['data']['isMobile'] = bh.input.query['isMobile'];\n    bh.local.sessionExists = true;\n} else {\n    delete bh.local.sessionData['redirectTo'];\n}",
        "functionName": "sd_9Zt15ixa6nUkPZmq",
        "category": "Function",
        "x": 413,
        "y": 1678.78125,
        "wires": [
            [
                "sd_Tx65dkJkKYyeHZBT"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5UcVIgwHtNCiODTG",
        "type": "Switch",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Session exists ",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_5UcVIgwHtNCiODTG",
        "category": "Function",
        "x": 885,
        "y": 1680,
        "wires": [
            [
                "sd_3M1uN9rYkBEugFoe"
            ],
            [
                "sd_DqRxey8zppx0COFH"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3M1uN9rYkBEugFoe",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "await Promise.all([\n    bh.local.sessionData.data.tokenset.access_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.access_token, 'access_token') : undefined,\n    bh.local.sessionData.data.tokenset.refresh_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.refresh_token, 'refresh_token') : undefined,\n]);\n\nbh.local.res = {\n        'idsURL': url.format(Object.assign(url.parse(bh.input.client.issuer.end_session_endpoint), {\n            search: null,\n            query: {\n                id_token_hint: bh.local.sessionData.data.tokenset.id_token,\n                post_logout_redirect_uri: url.resolve(bh.web.req.href, '/api/logout/cb'),\n                client_id: settings.default['ids']['client_id']\n            },\n        })),\n        'sessionExists': true,\n}\n\n// Remove user info and tokenset before login redirect\nbh.local.sessionData.data.tokenset = null;\nbh.local.sessionData.data.userInfo = null;",
        "functionName": "sd_3M1uN9rYkBEugFoe",
        "category": "Function",
        "x": 1045,
        "y": 1560,
        "wires": [
            [
                "sd_dCWCI7Lqpk6tk1KJ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Tx65dkJkKYyeHZBT",
        "type": "CallService",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_1CQLmZc2CuznRC9C",
            "serviceName": "idsutil",
            "id": "sd_1CQLmZc2CuznRC9C",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_uyHfcXfyNL5QVzEX",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_Tx65dkJkKYyeHZBT",
        "category": "General",
        "x": 645,
        "y": 1680,
        "wires": [
            [
                "sd_5UcVIgwHtNCiODTG"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5nap0MBmPG9xI9fh",
        "type": "HttpOut",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send IDS logout Url",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_5nap0MBmPG9xI9fh",
        "category": "HTTP",
        "x": 1345,
        "y": 1680,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_DqRxey8zppx0COFH",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = {\n        'sessionExists': false,\n}",
        "functionName": "sd_DqRxey8zppx0COFH",
        "category": "Function",
        "x": 1113.250015258789,
        "y": 1790.5312767028809,
        "wires": [
            [
                "sd_5nap0MBmPG9xI9fh"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_OQZKrfFR96ucYAu5",
        "type": "HttpIn",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout Callback API",
        "path": "/logout/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 163.1406421661377,
        "y": 2441.0469074249268,
        "wires": [
            [
                "sd_TVsMUAsslXxIuf4D"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_OQZKrfFR96ucYAu5"
    },
    {
        "id": "sd_TVsMUAsslXxIuf4D",
        "type": "Session",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_TVsMUAsslXxIuf4D",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 347.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_cnH0reGwxAT7sh9t"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_sn59cKm1UHaApOYS",
        "type": "Switch",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check platform type",
        "property": "sessionData.data.isMobile",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionData.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_sn59cKm1UHaApOYS",
        "category": "Function",
        "x": 665.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_ZS69g8jZRlt6zKeV"
            ],
            [
                "sd_fDPFM2KLJ8RGcfyK"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ZS69g8jZRlt6zKeV",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = \n`<html>\n   <script>\n      var _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_ZS69g8jZRlt6zKeV",
        "category": "Function",
        "x": 850.2500171661377,
        "y": 2516.0312824249268,
        "wires": [
            [
                "sd_DsFbXfcTA8NjrQ7c"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_DsFbXfcTA8NjrQ7c",
        "type": "HttpOut",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send html response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_DsFbXfcTA8NjrQ7c",
        "category": "HTTP",
        "x": 1083.2500171661377,
        "y": 2315.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fDPFM2KLJ8RGcfyK",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.sessionData.data.redirectTo\n}",
        "functionName": "sd_fDPFM2KLJ8RGcfyK",
        "category": "Function",
        "x": 849.2500171661377,
        "y": 2337.0312824249268,
        "wires": [
            [
                "sd_zeSRf1vBSzyeI0Lv"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zeSRf1vBSzyeI0Lv",
        "type": "HttpOut",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_zeSRf1vBSzyeI0Lv",
        "category": "HTTP",
        "x": 1089.2500171661377,
        "y": 2516.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_cnH0reGwxAT7sh9t",
        "type": "Session",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_cnH0reGwxAT7sh9t",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 519.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_sn59cKm1UHaApOYS"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wEKCzaQ7ZZdLCRhd",
        "type": "MiddlewareStart",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "start",
        "name": "Authorize",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 80.8125,
        "y": 3182.71875,
        "wires": [
            [
                "sd_VZAVQGYtsXex3BKn"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_wEKCzaQ7ZZdLCRhd"
    },
    {
        "id": "sd_Fr9yW8PikKH0GeQY",
        "type": "Session",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_Fr9yW8PikKH0GeQY",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 386,
        "y": 3178.78125,
        "wires": [
            [
                "sd_l3Z7dTYnQpD2SL2B"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_IMcGSAIeUNPgqqa3",
        "type": "Switch",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if session exists",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_IMcGSAIeUNPgqqa3",
        "category": "Function",
        "x": 679,
        "y": 3173.78125,
        "wires": [
            [
                "sd_esFZGZIsPu1OGLH2"
            ],
            [
                "sd_IIf6D7yz5dejUPug"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_IIf6D7yz5dejUPug",
        "type": "Switch",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if it is the user info API.",
        "property": "path",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.path",
        "rules": [
            {
                "t": "cont",
                "v": "/user/info",
                "vt": "str",
                "gv": "\"/user/info\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_IIf6D7yz5dejUPug",
        "category": "Function",
        "x": 641,
        "y": 3388.78125,
        "wires": [
            [
                "sd_dCDBQmsYmddUBFF3"
            ],
            [
                "sd_R9eCLdXxxFgtZQyT"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_P2GvgXd3ZwX0oB83",
        "type": "HttpOut",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send the session not present response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "403",
        "responseType": "obj",
        "responseMapping": {
            "status": 403,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_P2GvgXd3ZwX0oB83",
        "category": "HTTP",
        "x": 1205,
        "y": 3366.78125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_dCDBQmsYmddUBFF3",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { message: 'Session expired' };",
        "functionName": "sd_dCDBQmsYmddUBFF3",
        "category": "Function",
        "x": 892.890625,
        "y": 3386.78125,
        "wires": [
            [
                "sd_P2GvgXd3ZwX0oB83"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_R9eCLdXxxFgtZQyT",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'NO_SESSION', message: 'Session not present' };",
        "functionName": "sd_R9eCLdXxxFgtZQyT",
        "category": "Function",
        "x": 885,
        "y": 3522.8125,
        "wires": [
            [
                "sd_P2GvgXd3ZwX0oB83"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zaEToXbva3qgJ3Ks",
        "type": "Switch",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Token exists after refresh",
        "property": "newSession",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_zaEToXbva3qgJ3Ks",
        "category": "Function",
        "x": 846,
        "y": 2953.78125,
        "wires": [
            [
                "sd_XqV4qyk8ltfpfLs8"
            ],
            [
                "sd_PPcEQZp9LD48nFeQ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_aWolVJVAIsPsfXTN",
        "type": "MiddlewareEnd",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Authorize end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_aWolVJVAIsPsfXTN",
        "category": "HTTP",
        "x": 1484,
        "y": 2956.703125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_kP1zDvqU6stdieXR",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'TOKEN_EXPIRED', message: 'Token invalid or access revoked' };",
        "functionName": "sd_kP1zDvqU6stdieXR",
        "category": "Function",
        "x": 884,
        "y": 3259.78125,
        "wires": [
            [
                "sd_P2GvgXd3ZwX0oB83"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_esFZGZIsPu1OGLH2",
        "type": "CallService",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Call handleTokenExpiry",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_1CQLmZc2CuznRC9C",
            "serviceName": "idsutil",
            "id": "sd_1CQLmZc2CuznRC9C",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_GmqJ5Snj0CXs9ePL",
            "flowName": "handleTokenExpiry"
        },
        "inputVariables": [
            {
                "key": "existingSession",
                "map": true,
                "valueType": "bh.local",
                "value": "sessionData"
            },
            {
                "key": "newSession",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "newSession",
                "valueType": "bh.local",
                "value": "newSession",
                "mapVarName": "newSession",
                "localVar": "bh.local.newSession"
            }
        ],
        "callService": "./idsutil",
        "startName": "handleTokenExpiry",
        "inputParams": [
            "bh.local.sessionData",
            null
        ],
        "accept_bh": false,
        "functionName": "sd_esFZGZIsPu1OGLH2",
        "category": "General",
        "x": 631,
        "y": 2951.78125,
        "wires": [
            [
                "sd_zaEToXbva3qgJ3Ks"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_VZAVQGYtsXex3BKn",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local = {\n    \n}",
        "functionName": "sd_VZAVQGYtsXex3BKn",
        "category": "Function",
        "x": 227.890625,
        "y": 3180.78125,
        "wires": [
            [
                "sd_Fr9yW8PikKH0GeQY"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_l3Z7dTYnQpD2SL2B",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.sessionExists = false;\n\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset &&\n    bh.local.sessionData.data.tokenset.access_token && bh.local.sessionData.data.tokenset.refresh_token) {\n    bh.local.sessionExists = true;\n}",
        "functionName": "sd_l3Z7dTYnQpD2SL2B",
        "category": "Function",
        "x": 550,
        "y": 3178.78125,
        "wires": [
            [
                "sd_IMcGSAIeUNPgqqa3"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_XqV4qyk8ltfpfLs8",
        "type": "Session",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_XqV4qyk8ltfpfLs8",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 887,
        "y": 3093.78125,
        "wires": [
            [
                "sd_kP1zDvqU6stdieXR"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_PPcEQZp9LD48nFeQ",
        "type": "Switch",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Update session if token rotated",
        "property": "newSession.rotated",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession.rotated",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_PPcEQZp9LD48nFeQ",
        "category": "Function",
        "x": 1051,
        "y": 2956.78125,
        "wires": [
            [
                "sd_s8xlYedmRW56W0TQ"
            ],
            [
                "sd_aWolVJVAIsPsfXTN"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_lK7bUbU5jpOqykoX",
        "type": "Session",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.newSession",
        "dataMapping": "bh.local.newSession",
        "functionName": "sd_lK7bUbU5jpOqykoX",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "newSession"
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "newSession"
            }
        },
        "x": 1331,
        "y": 2827.78125,
        "wires": [
            [
                "sd_aWolVJVAIsPsfXTN"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_s8xlYedmRW56W0TQ",
        "type": "Script",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "delete bh.local.newSession.rotated;",
        "functionName": "sd_s8xlYedmRW56W0TQ",
        "category": "Function",
        "x": 1192,
        "y": 2827.78125,
        "wires": [
            [
                "sd_lK7bUbU5jpOqykoX"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_YO4T72jhZZhmHIA0",
        "type": "Comments",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Idenity Server Login API",
        "comments": "<p>API used to authenticate users.</p>",
        "category": "General",
        "x": 685,
        "y": 58.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_4Nxk8n0dDRUyVVt9",
        "type": "Comments",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Flow to add href to bh of the Origin",
        "comments": "",
        "category": "General",
        "x": 664,
        "y": 590.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_M5I55SURIzdDgoDL",
        "type": "Comments",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Login Callback API",
        "comments": "<p>After authentication, this is the API called by IDS to get Access token and user info</p>",
        "category": "General",
        "x": 685,
        "y": 897.2265625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_nW3wdWdjG9TVuNpJ",
        "type": "Comments",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "IDS Logout API",
        "comments": "<p>API to redirect the user to IDS Logout page</p>",
        "category": "General",
        "x": 720.0000114440918,
        "y": 1527.226583480835,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_zCpXBZ1jHvA46iKz",
        "type": "Comments",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Fetch user info",
        "comments": "The API called by neutrinos-oauth-client module internally to fetch user info.",
        "category": "General",
        "x": 651.2500095367432,
        "y": 1947.2265892028809,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_Ybgj4r0iPo3AtN5y",
        "type": "Comments",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect the user back to Login",
        "comments": "<p>Redirect back to /login if the flow cannot fetch user info or access token.</p>",
        "category": "General",
        "x": 177.50000381469727,
        "y": 1310.9765815734863,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_8XOJSLKCgIJSs2YR",
        "type": "Comments",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check Authorization",
        "comments": "Use this middleware flow for all authorized APIs.",
        "category": "General",
        "x": 813.75,
        "y": 2805.9765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_TZoGqqVb81NS0spJ",
        "type": "Comments",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Logout Callback API",
        "comments": "<p>The API redirected by IDS to destroy the user session.</p>",
        "category": "General",
        "x": 581.25,
        "y": 2288.4765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_61rAPNLxT3Nr1Twk",
        "type": "Catch",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "common",
        "nodeType": "start",
        "name": "Catch HandleTokenExpiry",
        "selectedNodes": [
            "sd_esFZGZIsPu1OGLH2"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_61rAPNLxT3Nr1Twk",
        "category": "General",
        "x": 765,
        "y": 3260,
        "wires": [
            [
                "sd_kP1zDvqU6stdieXR"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_dCWCI7Lqpk6tk1KJ",
        "type": "Session",
        "z": "sd_XpjCTP8tJG5mDUiG",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "bh.local.sessionData.data",
        "functionName": "sd_dCWCI7Lqpk6tk1KJ",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session",
                "constant": false
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "sessionData.data",
                "constant": false
            }
        },
        "x": 1205,
        "y": 1560,
        "wires": [
            [
                "sd_5nap0MBmPG9xI9fh"
            ]
        ],
        "generateNext": false,
        "generated": true
    }
]
